@use "../../styles/mixin" as mixin;

.container {
  @include mixin.container;
  flex-direction: column;

  .correct {
    color: green;
    font-size: large;
  }

  .fail {
    color: red;
    font-size: large;
  }

  .input {
    @include mixin.input-style;
    margin-bottom: 12px;
  }

  .button {
    @include mixin.button-style;
  }
}
