@use "../../styles/mixin" as mixin;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  .correct {
    color: green;
    font-size: large;
  }

  .fail {
    color: red;
    font-size: large;
  }

  .input {
    @include mixin.input-style;
    margin-bottom: 12px;
  }

  .button {
    @include mixin.button-style;
    width: 100px;
    height: 40px;

    :hover {
      background-color: #4096d1;
    }
  }
}
