@import "../../styles/common.scss";

.container {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;

  .correct {
    color: green;
    font-size: large;
  }

  .fail {
    color: red;
    font-size: large;
  }

  .input {
    @include input-style;
    margin-bottom: 12px;
  }

  .button {
    @include button-style;
  }
}
