@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  color: #000;
}

@mixin button-style {
  background-color: #4096d1;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: #9bbed0;
  }
}

@mixin input-style {
  padding: 2px;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
}
